 <div class="user-details">
  <h1> Who am I </h1>
  <p>
    안녕하세요 도전과 실패를 하며 희열을 느끼는 신입 개발자 이형종입니다 !  
    한 걸음 더 실현하기위해 이끌어 준 것은 개발자 교육과정 중에 간단한 프로그램 개발 및 팀 프로젝트를 진행하면서 작지만 하나의 기능을 완성하고 개선해나갈때 마다 보람을 느끼고있습니다. 
    어떻게 하면 더 사람들에게 편리하고 유용한 정보를 웹페이지로 표현을 할 수 있을까? 라는 생각을하고 해결하는 시간에 매력을 느끼게되어 발전하는 웹 개발자가 되기위해 많은 노력을 하고있습니다.  
    깃허브에는 SPRING FRAMEWORK 를 이용해 간단하게 연습한 것을 연동해놓았습니다. 
  </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Front</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-vuejs-plain-wordmark colored"></i>
      <img src="{{ "/assets/img/vuetify.png" | prepend: site.baseurl }}" />

      <p></p>
    </div>
    <div class="tech">
      <h2>Back</h2>
      <i class="devicon-java-plain-wordmark colored"></i>
      <i class="devicon-javascript-plain colored"></i>
      <img src="{{ "/assets/img/mysql.jpg" | prepend: site.baseurl }}" /><br>
      <img src="{{ "/assets/img/fb.jpg" | prepend: site.baseurl }}" />
      <i class="devicon-nodejs-plain-wordmark"></i>
      
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <img src="{{ "/assets/img/eclipseimg.png" | prepend: site.baseurl }}" />
      <i class="devicon-git-plain"></i>
      <img src="{{ "/assets/img/vscode.jpg" | prepend: site.baseurl }}" />
     
      <p></p>
    </div>
</div>
