<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/pinacle.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li>TravelBooks</li>
    </ul>
    <p>매년 증가되는 여행가는 사람들과 더불어 홀로 여행을 즐기는 사람들을 위한 커뮤니티 입니다.
      여행사의 정해진 평범한 루트가 아닌 자체 제작한 구글 확장프로그램으로 외부에 있는 원하는정보만 수집을하여 계획을 세워 가이드북을 제작해 새로운 루트를 다른 여행객들에게 대륙별 게시판을 통해 정보를 서로 공유하려는 의도로 만들게되었습니다.</p>
    <a class="project-link" href="https://travelbooks.kr/#/">Check it out</a>
  </div>
</div>
<!-- <div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div> -->
